.report-button {
    background-color: #e02224;
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(224, 34, 36, 0.5);
}

.report-button:hover {
    background-color: #c51d1e;
}

#page-title {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 4em;
}

.nav-button {
    font-size: 1.5em;
}

.nav-button:hover {
    background-color: #154bcc;
}

.navbar {
    margin-top: 10em;
}