.report-button {
    background-color: rgb(255, 81, 0);
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.report-button:hover {
    background-color:  rgb(155, 51, 3);
}

#page-title {
    color: #0ff;
    text-align: center;
    margin-top: 20px;
    font-size: 4em;
}

.nav-button {
    background-color: #0ff;
    color: #000;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em;
}

.nav-button:hover {
    background-color:  rgb(2, 121, 121);
}

.navbar {
    margin-top: 10em;
}