body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #0ff;
    text-align: center;
}

textarea {
    width: 80%;
    height: 100px;
    background-color: #111;
    color: #0f0;
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    font-family: monospace;
}

textarea::placeholder {
    color: whitesmoke; /* Light grey, you can change this */
    opacity: 1;  /* Ensures full visibility across browsers */
}

button {
    background-color: #0ff;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

#reset-btn {
    background-color: orange;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

.data-table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    color: #fff;
}

.data-table th, .data-table td {
    border: 1px solid #555;
    padding: 8px;
}

.data-table th {
    background-color: #222;
}

.error {
    color: red;
    margin-top: 10px;
}


/* switch mode button */
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.nav-button {
    background-color: #0ff;
    color: #000;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.nav-button:hover {
    background-color:  rgb(2, 121, 121);
}

.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}


/* Data table style */

.dataTables_wrapper {
    color: #fff;
}

.dataTables_filter input {
    background-color: #111 !important;
    color: #0f0 !important;
    border: 1px solid #444 !important;
}

.dataTables_length select {
    background-color: #111 !important;
    color: #0f0 !important;
    border: 1px solid #444 !important;
}
