<!DOCTYPE html>
<html>

<head>
    <title>Historical Report Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- removes favicon error -->
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <h1>Historical Report Dashboard</h1>

    <div class="top-right">
        <a href="/assisted" class="nav-button">dumb mode</a>
        <a href="/report_upload" class="nav-button">report_upload</a>
    </div>
    <form method="POST">
        <textarea name="sql_query" placeholder="Enter your SELECT SQL query here" required></textarea><br>
        <button type="submit">Run Query</button>
    </form>

    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    <div class="table-container">
        {{ table|safe }}
    </div>
</body>

</html>