<!DOCTYPE html>
<html>
<head>
    <title>Historical Report Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
</head>
<body>
    <h1 id="page-title">Historical Report Dashboard</h1>
    <h2 id="subtitle">Data Analytics Dashboard to Make Insights</h2>
    <div id="stats-summary" class="stats-flex">
    <div class="stat-card fade-in">
        <h3>Total Defects</h3>
        <p><span id="total-defects">0</span></p>
    </div>
    <div class="stat-card fade-in">
        <h3>Most Common Asset</h3>
        <p id="common-defect" style="font-size: xx-large;">--</p>
    </div>
    <div class="stat-card fade-in">
    <h3>Top Inspector</h3>
    <p id="hardworking-inspector">--</p>
</div>
</div>
    <div class="top-right">
        <a href="http://127.0.0.1:5001/" class="report-button">Upload Report</a>
    </div>
    <div class="top-left"><img src="static\company_logo.png" id="logo"></div>

    <div class="navbar">
        <h2>Choose Dashboard Style</h3>
        <a href="/charts" class="nav-button">Chart Dashboard</a>
        <a href="/table" class="nav-button">Tabular Dashboard</a>
    </div>

    <script>
function animateCount(id, endValue, duration = 1000) {
    const el = document.getElementById(id);
    const startValue = 0;
    const range = endValue - startValue;
    let startTime = null;

    function step(timestamp) {
        if (!startTime) startTime = timestamp;
        const progress = timestamp - startTime;
        const percent = Math.min(progress / duration, 1);
        const current = Math.floor(percent * range);
        el.textContent = current.toLocaleString();
        if (percent < 1) {
            window.requestAnimationFrame(step);
        }
    }

    window.requestAnimationFrame(step);
}

fetch('/api/overview_stats')
    .then(response => response.json())
    .then(data => {
        animateCount("total-defects", data.total_defects);
        document.getElementById("common-defect").textContent = data.aname;
        document.getElementById("hardworking-inspector").textContent = data.inspector;
    })
    .catch(err => {
        console.error(err);
    });
</script>
</body>
</html>