<!DOCTYPE html>
<html>

<head>
    <title>Historical Report Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assist.css') }}">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">


    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

</head>

<body>
    <div class="top-right">
        <a href="/" class="nav-button">home</a>
    </div>
    <div class="top-left"><img src="static\company_logo.png" id="logo"></div>
    <h1>PDF Picker</h1>
    <button onclick="openDialog()" id="uploadButton">Pick PDF Files</button>
    <!-- <p id="message"></p>
    <div>
        <p>Batch size:</p>
        <input type="number" id="batch_size_input" step="1" min="1" value="1">
    </div>
    <p id="batchDisplay" hidden>Batch: <span id="batchNo"></span>/<span id="totalBatches"></span></p> -->
    <div style="margin-bottom: 1rem; margin-top: 1rem; font-family: Arial, sans-serif;">
        <label for="batch_size_input" style="display: block; font-weight: bold; margin-bottom: 0.5rem;">
            Batch size:
        </label>
        <input type="number" id="batch_size_input" step="1" min="1" value="1"
            style="padding: 0.5rem; border: 1px solid #ccc; border-radius: 4px; width: 100px;">
    </div>

    <div id="A" hidden>
        <div id="batchDisplay"
            style="font-family: Arial, sans-serif; padding: 0.5rem; border-radius: 4px; display: flex; flex-direction: column; align-items: center;">
            <div><strong>Batch:</strong> <span id="batchNo"></span>/<span id="totalBatches"></span></div>

            <progress style="margin-top: 0.5rem; width: 100%;" id="progressBar" max="100"></progress>
        </div>
    </div>



    <script>
        const socket = io();  // Initialize socket connection here

        function openDialog() {
            fetch('/open_dialog', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });;
        }

        socket.on('dialog_close', function (data) {
            console.log("dialog_close: ", data.folder);

            const batch_size = document.getElementById('batch_size_input').value;
            // displayFolder(data.folder);
            fetch('/start_etl', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ batch_size: parseInt(batch_size) })
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });;
        });

        function displayFolder(folder) {
            // console.log("displayFolder called with folder:", folder);
            document.getElementById('message').textContent = folder
        }

        socket.on('batch_upload_status_update', function (data) {
            document.getElementById('A').hidden = false;

            console.log("batch_upload_status_update", data);
            document.getElementById('batchNo').textContent = data.batch_no;
            document.getElementById('totalBatches').textContent = data.total_batches;
            document.getElementById('progressBar').value = data.batch_no / data.total_batches * 100;

            if (data.batch_no == data.total_batches) {
                // document.getElementById('batchDisplay').hidden = true;
                document.getElementById('A').hidden = true;
                document.getElementById('message').innerText = "Upload Complete!";
            }
        });
    </script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</body>

</html>